html, body {
	height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body.flex-row > header {
	flex: 0 0 40px;
	padding: 20px;
}

h1 {
	margin: 0;
	text-align: center;
}

.flex-row {
	flex-direction: column;
}

.flex-row, .flex-col {
	display: flex;
}

.flex-row > *, .flex-col > * {
	flex: 1 1 0px;
}

#game-container {
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

#game-container #cenario {
	width: 640px;
	height: 460px;
	background-color: white;
	position: relative;
	overflow: hidden;
}

.map-wrapper {
	position: absolute;
}

.map-wrapper > .linha {
	height: 32px;
	overflow: hidden;
}

.map-wrapper > .linha > * {
	height: 32px;
    width: 32px;
    float: left;
    box-sizing: border-box;
}

.map-wrapper > .linha > .chao {
	border: 1px solid rgba(93, 93, 93, 0.31);
}

.map-wrapper > .linha > .prateleira {
	background-color: brown;
}

.map-wrapper > .linha > .saida {
	border: 1px solid rgba(93, 93, 93, 0.31);
	background-color: rgba(255, 255, 110, 0.65);
}

#player-info-container {
	flex: 0 0 275px;
}

#player-info-container > #player-info {
	width: 240px;
    margin: 10px auto 25px;
}

.lifebar-container {
	background-color: red;
	border-radius: 5px;
}

.lifebar-container .lifebar {
	padding: 5px 10px;
	background-color: green;
	border-radius: 5px;
}

.item-container {
	width: 185px;
	margin: 5px auto;
	background-color: #63290D;
	padding: 5px;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.item-container > .item-container-title {
	color: white;
	cursor: default;
}

.item-container > .item-container-title > .item-container-close {
	cursor: pointer;
	float: right;
	font-size: 10px;
	border: 1px solid #BC481E;
    width: 11px;
    text-align: center;
}

.item-container > .item-container-slots {
	max-height: 140px;
    overflow-y: scroll;
}

.item-container > .item-container-slots > .item-container-slot {
	width: 32px;
	height: 32px;
	background-color: #592912;
	border: 3px solid #3D1C0C;
	padding: 2px;
	margin: 5px;
	display: inline-block;
}

.comprador {
	width: 32px;
	height: 32px;
	outline: 1px solid black;
	position: absolute;
	z-index: 10;
    transition: left 0.2s, top 0.2s;
}

.comprador > span {
	text-align: center;
    width: 120px;
    display: inline-block;
    position: absolute;
    top: -20px;
    left: calc(50% - 60px);
}